@import url( '//fonts.googleapis.com/css?family=Open+Sans:400italic,400,700|Roboto+Condensed:400,700|Volkhov' );
@import url( 'style.css' );

/* Styles specific to the editor. */

body#tinymce {
	background-color: #fff;
	border: none;
	margin: 0 auto;
	padding: 1.5rem 1.5rem 0;
}